<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect | New Page</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Logo</a>
        <ul class="links">
            <li class="active">Home</li>
            <li>About</li>
            <li>Services</li>
        </ul>
    </header>

    <div class="container">
        <h2 class="heading">New Page</h2>
        <img class="img" src="/img/placeholder-image-3.png" alt="placeholder">
    </div>

    <script src="/js/main.js"></script>
</body>
</html>